<div class="login-container">
  <img class="film" src="assets/images/img3.jpg">
  <div class="logo">Elite Movies</div>
  <div class="desc">Elite Movies is a movie recommendation website. It lets you find movies that you will like based on movies that you already know you like. Y

    ou rate some of your favorite (and least favorite) movies. You can do this by clicking “Rate Movies” on the left, or by using the Rate & Review links on the right side of movie pages.

    Criticker recommends movies to you, based on the ratings of other people who have rated those same movies.

    You can view your recommended movies in your member profile, or by clicking “Recommendations” on the left menu.

    When you see a recommended movie, click on its title to view more information about it.</div>
</div>

<div class="login-form">
  <div class="forom-group">
    <label for="uname">Username</label>
    <input type="text" name="uname" class="form-control">
  </div>
  <div class="forom-group">
    <label for="pswrd">Password</label>
    <input type="password" name="pswrd" class="form-control">
  </div>
  <div class="btn-container">
    <button class="btn btn-dark">Login</button>
  </div>
</div>
